<section class="ftco-section ftco-no-pb" id="events-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <h1 class="big big-2">Events</h1>
                <h2 class="mb-4">Events</h2>
                <p> Latest User Groups, Conferences just gone or about to occur</p>
            </div>
        </div>
        <div class="row">
           
            {% include event_list.html %}

            <div class="col-md-6">
                <h3>Past</h3>
                {% for event in past_conferences limit: 3 %}
                {% include box.md date=event.date ref=event.country title=event.title url=event.url  %}
                {% endfor %}
            </div>

            <div class="col-md-6">
                <h3>Future</h3>
                {% for event in future_conferences limit: 3 %}
                {% include box.md date=event.date ref=event.country title=event.title url=event.url  %}
                {% endfor %}
            </div>


        </div>
        <div class="row">
            <div class="col-md-12 text-center ftco-animate">
                <p><a href="/events" class="btn btn-primary py-4 px-5">All Events</a></p>
            </div>
        </div>
    </div>

</section>