<section id="home-section" class="hero">
    <div class="home-slider  owl-carousel">
        <div class="slider-item ">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
                    <div class="one-third js-fullheight order-md-last img" style="background-image:url(assets/images/me-casual-bw-t.png);">
                        <div class="overlay"></div>
                    </div>
                    <div class="one-forth d-flex  align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">Hello!</span>
                            <h1 class="mb-4 mt-3">I'm <span>Steve Poole</span></h1>
                            <h2 class="mb-4">Developer Advocate etc</h2>
                            <p><a href="https://www.linkedin.com/in/noregressions/" class="btn btn-primary py-3 px-4">Linkedin</a> <a href="/agenda" class="btn btn-white btn-outline-white py-3 px-4">Upcoming Events</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
                    <div class="one-third js-fullheight order-md-last img" style="background-image:url(images/bg_2.png);">
                        <div class="overlay"></div>
                    </div>
                    <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">Hello!</span>
                            <h1 class="mb-4 mt-3">a seasoned <span>JVM Engineer</span> based in the UK</h1>
                            <p><a href="https://www.linkedin.com/in/noregressions/" class="btn btn-primary py-3 px-4">Linkedin</a> <a href="#" class="btn btn-white btn-outline-white py-3 px-4">My works</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
                    <div class="one-third js-fullheight order-md-last img" style="background-image:url(assets/images/scientist-t.png);">
                        <div class="overlay"></div>
                    </div>
                    <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">Hello!</span>
                            <h1 class="mb-4 mt-3">a <span>Security Champion</span> helping developers be more security concious</h1>
                            <p><a href="https://www.linkedin.com/in/noregressions/" class="btn btn-primary py-3 px-4">Linkedin</a> <a href="#" class="btn btn-white btn-outline-white py-3 px-4">My works</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
                    <div class="one-third js-fullheight order-md-last img" style="background-image:url(assets/images/10x.png);">
                        <div class="overlay"></div>
                    </div>
                    <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">Hello!</span>
                            <h1 class="mb-4 mt-3">a <span>DevOps leader</span><i>(whatever that means)</i></h1>
                            <p><a href="https://www.linkedin.com/in/noregressions/" class="btn btn-primary py-3 px-4">LJC</a> <a href="#" class="btn btn-white btn-outline-white py-3 px-4">My works</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
                    <div class="one-third js-fullheight order-md-last img" style="background-image:url(images/bg_2.png);">
                        <div class="overlay"></div>
                    </div>
                    <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">Hello!</span>
                            <h1 class="mb-4 mt-3">a <span>member of the</span> London Java Community</h1>
                            <p><a href="https://www.linkedin.com/in/noregressions/" class="btn btn-primary py-3 px-4">LJC</a> <a href="#" class="btn btn-white btn-outline-white py-3 px-4">My works</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>