<section class="ftco-section ftco-project" id="projects-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="big big-2">Projects</h1>
                <h2 class="mb-4">Projects</h2>
                <p>Other activities I'm involved in</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/assets/images/logos/10xLogo43.png);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="https://10xinsights.dev">10xInsights.dev</a></h3>
                        <span>Podcast and Video Channel for 10x Developers</span>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/assets/images/logos/ljc.png);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="#">London Java Community</a></h3>
                        <span>My second home, the LJC is the Java usergroup in London and the UK</span>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>
