{% assign logos = site.data.outlets %}

<section class="ftco-section" id="publications-section">
    <div class="container">

        <div class="row justify-content-center py-5 mt-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="big big-2">Publications</h1>
                <h2 class="mb-4">Publications</h2>
                <p>Written or spoken materials</p>

            </div>
        </div>
        <div class="row">
            {% for outlet in logos %}

            <div class="col-md-4 text-center d-flex ftco-animate">

                <a href="{{outlet.website}}" class="services-1">
                    <span class="icon">
                        <i class="flaticon-{{ outlet.icon }}"></i>
                    </span>
                    <div class="desc">
                        <h3 class="mb-5">{{outlet.name}}</h3>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</section>