<div class="col-md-6 p-3 border blue-col"  style="background: rgb(225,238,245);">                               
                                                                                                                
    {{ include.left }}                                                                                          
                                                                                                                
 </div>                                                                                                         
                                                                                                                
 <div class="col-md-6 p-3 border bg-light">                                                                     
   {{ include.right }}                                                                                          
</div>  
